h1{
	text-align: center;
	color: #582478;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-size: 60pt;
	padding: 0;
}

h3{
  font-family: 'Barlow Semi Condensed', sans-serif;
  color:#DCD1BB; 
}

h2{
	font-family: 'Barlow Semi Condensed', sans-serif;
}

#h2-color{
	color:#DCD1BB;
}

#nav-bar{
	
	background-color: #60425e;
	position: sticky;
	top:0;
	width: 100%;
	z-index: 999;
	left: 0;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	font-family: 'Barlow Semi Condensed', sans-serif;
}

#undln{
	text-decoration: none;
}

#fullname{
	border: none;
  	border-bottom: 2px solid #60425e;
}

.left{
	height: 30%;
	float: left;
	margin-right: 15px;
}
.logo{
	height: 50%;
	float: left;
	margin-right: 15px;
}
.right{
	height: 30%;
	float: right;
	margin-left: 15px;
	margin-bottom: 5px;
}

.center{
	display: block;
  	margin-left: auto;
 	margin-right: auto;
  	width: 75%;
}

ol{
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight: bold;
}

#list1 {
	float: left;
	text-decoration: none;
}

body{
	background: linear-gradient(rgba(0,0,0,0.5),#B27CB2),url('ocean.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 150vh;
	margin: 30pt;
}

ol, h2 {
	font-size: 17pt;
}

li a {
	display: block;
	color: #DCD1BB;
	text-align: center;
	padding: 14px 16px;
	font-family: 'Barlow Semi Condensed', sans-serif;
}

li a:hover {
  background-color: #111;
}

.tab div {
    display: none;
}

.tab div:target {
    display: block;
  
}

.wrapper {
	justify-content: center;
	width: 50%;
}

.login{
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa {
  color: #582478;
}

.fa:hover {
  opacity: 0.7;
}

label, textarea{
	font-family: 'Barlow Semi Condensed', sans-serif;
	color: #DCD1BB;
	font-weight: bold;
}

p{
  font-family: 'Barlow Semi Condensed', sans-serif;
	color: #DCD1BB;
}

.makewhite{
  color: #DCD1BB;
  
}

.makepurple{
	color: #582478;
	font-weight: bolder;
}

.hyperlink-style{
	text-decoration:none;
	color: #DCD1BB;
}

.nav-link{
	color: #DCD1BB;
}

@media(max-width: 900px){
	html{
		overflow-x: hidden;
	}
	input[type=submit] {
  		font-size: 30px;
	}
	h1{
		font-size: 40pt;
	}
	#left{
		object-position: center bottom;
	}
	.center{
		width: 100%;
	}
	
}
